{% extends "base.html.twig" %} {% block midWrap %}
<h2>Zones:</h2>
<ul>
	{% for zone in zones %}
	<li><a href="{{ zone.deleteHref }}" class="fr">delete {{ zone.zone }}</a>
		<a href="{{ zone.href }}">{{ zone.zone }}</a>&nbsp;({{
		zone.records|length }})</li> {% else %}
	<li><i>no zones found</i></li> {% endfor %}
</ul>
<h3>
	<a href="javascript:void(0)" onclick="App.prompt('{{ newRecordHref }}')">new record</a>
</h3>
{% endblock %}
